*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

a{
    text-decoration: none;
    color: white;
}

.header-hero-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    background-color: #1F2937;
    gap: 50px;
    padding: 20px 360px 100px;

}
.header,
.hero{
    
}
.header {

    display: flex;
    justify-content: space-between;

}


.header-logo{
    font-size: 24px;
    color: #F9FAF8;

    flex-shrink: 0;
}

.header-link{

    display: flex;
    gap: 20px;
}
.header-link,
.hero-second{
    font-size: 18px;
    color: #E5E7EB;
}

.hero{
    display: flex;   

    justify-content: space-between;
    
}

.hero-text{
    display: flex;
    flex-flow: column wrap;
    width: 500px;
    gap: 20px;
    
}
.hero-main{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    
}
.buttons{
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    border: black;
    padding: 12px;
    width: 120px;
    flex: 0 0 auto;
    font-size: 20px;
    font-weight: 900;
}
.teto-img{
    width: 550px;
    height: 300px;

    flex-shrink: 0;
}